<div style="padding: 0 20px;">

<h1>{{title}}</h1>
<nav>
  <ul>
    <li><a routerLink="/top-10" routerLinkActive="active">of/from Operator</a></li>
    <li><a routerLink="/top-9" routerLinkActive="active">map/tap Operator</a></li>
    <li><a routerLink="/top-8" routerLinkActive="active">share Operator</a></li>
    <li><a routerLink="/top-7" routerLinkActive="active">Switch Map Operator</a></li>
    <li><a routerLink="/top-6" routerLinkActive="active">DebounceTime/DistinctUntilChanged Operator</a></li>
    <li><a routerLink="/top-4" routerLinkActive="active">Take Operator</a></li>
    <li><a routerLink="/top-3" routerLinkActive="active">Merge Map/Flat Map Operator</a></li>
    <li><a routerLink="/top-2" routerLinkActive="active">Concat Operator</a></li>
    <li><a routerLink="/top-1" routerLinkActive="active">ForkJoin Operator</a></li>
  </ul>
</nav>
<!-- The routed views render in the <router-outlet>-->
<router-outlet></router-outlet>
</div>